body {
    font-family: Arial, sans-serif;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
}

.heading h1 {
    color: #333;
    text-align: center;
}

.details {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.advantages, .disadvantages {
    width: 45%;
}

.advantages ul, .disadvantages ul {
    font-weight: bold;
    color: #555;
}

li {
    margin-bottom: 10px;
}