
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

span{
    display: none;
    color: #ff5900
}
.form-container {
    background-color: #343434;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ff5900;
    width: 100%;
    max-width: 400px;
}

form h2 {
    
    margin-bottom: 20px;
    margin-left: 15px;
    color: #ffffff;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
input[type="gender"],
input[type="courses"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff5900;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #06b300;
}
